@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

* {
  font-family: "Inter", sans-serif;
}

col {
  color: #17171c;
  color: hsl(240 5.9% 10%);
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

img,
image {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 120px;
  height: 12px;
  background: transparent;
  border-radius: 5px;
  background-image: hsl(var(--primary));
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: hsl(var(--primary));
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
  margin-top: -3px;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  @apply bg-zinc-200 h-1.5 rounded-full mt-1;
}

@media (max-width: 450px) {
  input[type="range"] {
    width: 80px;
    height: 12px;
  }
}

/* Loader */
.apple-loading {
  position: relative;
  width: 24px;
  height: 24px;
}

.apple-loading .segment {
  position: absolute;
  left: 22px;
  height: 7px;
  width: 2px;
  background-color: rgba(234, 234, 234, 0.8);
  border-radius: 10px;
  transform-origin: 1px 180%;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: throbber;
}

/* Segment Styles */
.apple-loading .segment:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: 0ms;
}

.apple-loading .segment:nth-child(2) {
  transform: rotate(36deg);
  animation-delay: 125ms;
}

.apple-loading .segment:nth-child(3) {
  transform: rotate(72deg);
  animation-delay: 250ms;
}

.apple-loading .segment:nth-child(4) {
  transform: rotate(108deg);
  animation-delay: 375ms;
}

.apple-loading .segment:nth-child(5) {
  transform: rotate(144deg);
  animation-delay: 500ms;
}

.apple-loading .segment:nth-child(6) {
  transform: rotate(180deg);
  animation-delay: 625ms;
}

.apple-loading .segment:nth-child(7) {
  transform: rotate(216deg);
  animation-delay: 750ms;
}

.apple-loading .segment:nth-child(8) {
  transform: rotate(252deg);
  animation-delay: 875ms;
}

.apple-loading .segment:nth-child(9) {
  transform: rotate(288deg);
  animation-delay: 1000ms;
}

.apple-loading .segment:nth-child(10) {
  transform: rotate(324deg);
  animation-delay: 1125ms;
}

/* .apple-loading .segment:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: 1250ms;
}

.apple-loading .segment:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 1375ms;
} */

/* Keyframes */
@keyframes throbber {
  0% {
    background-color: #262626;
  }
  100% {
    background-color: #fff;
  }
}

.tox {
  background-color: #121212;
}
